.buttons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  position: relative;
}

.buttons .div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.buttons .phone {
  position: relative;
  width: 102px;
  height: 103.23px;
  margin-bottom: -0.23px;
  margin-left: -2px;
}

.buttons .img {
  height: 103.23px;
  margin-bottom: -0.23px;
  position: relative;
  width: 102px;
}

.buttons .github {
  position: relative;
  width: 102px;
  height: 104.23px;
  margin-bottom: -1.23px;
  margin-left: -2px;
}

.buttons .img-2 {
  height: 104.23px;
  margin-bottom: -1.23px;
  position: relative;
  width: 102px;
}
