.buttons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 12px;
  position: relative;
}

.buttons .div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.buttons .phone {
  position: relative;
  width: 200x;
  height: 200px;
  margin-bottom: -0.24px;
  margin-left: -2px;
}

.buttons .img {
  height: 200px;
  margin-bottom: -0.24px;
  position: relative;
  width: 200px;
}

.buttons .github {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: -1.24px;
  margin-left: -2px;
}

.buttons .img-2 {
  height: 150px;
  margin-bottom: -1.24px;
  position: relative;
  width: 150px;
}
